*{
    padding: 10px;
    margin: auto;
    box-sizing: 0;
}

 .container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
}
form {

    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background-color: rgb(218, 227, 234);
}
.container .adding{
    display: flex;
}
 ul {
    display: flex;
    justify-content: space-between;
    list-style: none;


}
.tasks  {
   
}

.demo { 
   text-decoration: line-through;
}

